<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

    <!--指定当前工程在管控平台中的名称-->
    <dubbo:application name="10-consumer-mockclass">
        <!-- qos.port 端口冲突问题也可以在这里设置-->
        <!--如果是在idea中可以在vm中添加 -Ddubbo.application.qos.port=33334-->
        <!--还可以在dubbo.properties配置文件中添加 dubbo.application.qos.port=33334-->
        <dubbo:parameter key="qos.port" value="33334"/>
    </dubbo:application>

    <!--指定注册中心：使用zk作为注册中心，需要本地启动zk-->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>

    <!-- 服务降级：当服务器压力剧增时，会对当前业务情况及流量进行一些有策略性的降级，以释放服务器资源，来保证核心业务能正常运行-->
    <!--Dubbo的服务降级采用的是mock机制。其具有两种降级处理方式:Mock Null降级处理，与 Mock Class 降级处理。-->
    <!--官方文档：https://dubbo.apache.org/zh-cn/docs/user/demos/service-downgrade.html-->
    <dubbo:reference id="userService" check="false" mock="true"
                     interface="cn.eleven.consumer.UserService"/>
</beans>