<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

    <!--指定当前工程在管控平台中的名称-->
    <dubbo:application name="02-consumer-zk">
        <!-- qos.port 端口冲突问题也可以在这里设置-->
        <!--如果是在idea中可以在vm中添加 -Ddubbo.application.qos.port=33334-->
        <!--还可以在dubbo.properties配置文件中添加 dubbo.application.qos.port=33334-->
        <dubbo:parameter key="qos.port" value="33334"/>
    </dubbo:application>

    <!--指定注册中心：使用zk作为注册中心，需要本地启动zk-->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>

    <!-- cache="true" 缓存，也可以指定接口中的某个方法进行缓存，缓存大小为1000调用次数，缓存算法是LRU-->
    <!--缓存结果是放在消费者端的，也就是说即使是提供者挂掉也不影响，因此它的使用场景只能在结果不会变化的业务中，比如订单号，身份证，历史排名数据等-->
    <dubbo:reference id="someService" cache="true"
                     interface="cn.eleven.api.SomeService"/>
</beans>